{% extends 'base.html' %}
{%  from 'macros.html' import cards  %}

{% block body %}

  <main class="container mt-3">

    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4">
      <img src ="{{ url_for('static', filename =  goal.image_location) }}" style="width: 75px; height:75px">
      <strong><br/>Преподаватели <br/>{{ goal.title_rus | lower }}</strong>
      <br/><span class="font-weight-light text-muted">{{ teachers | length }} преподавателей</span>
    </h1>

      {{ cards( teachers) }}

  </main>
{% endblock %}
