{% extends 'base.html' %}
{%  from 'macros.html' import cards  %}

{% block body %}
  <main class="container mt-3">
    <section>
    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Найдите идеального <br>репетитора английского, <br>занимайтесь онлайн</strong></h1>
    <div class="text-center mb-5">
      <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
        {% for goal in goals %}
           <a href="/goals/{{ goal.title }}/" type="button" class="btn btn-outline-secondary">{{ goal.favicon }}{{ goal.title_rus }}</a>
        {% endfor %}
      </div>
    </div>
    </section>
      <h2 class="h5 text-center mb-5">Свободны прямо сейчас</h2>
    {{ cards(teachers) }}
  </main>
{% endblock %}
