{% macro cards(teachers) -%}
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">

        {% for teacher in teachers %}
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-3"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
                <div class="col-9">
                  <p class="float-right">Рейтинг: {{ teacher.rating | round(1) }} Ставка: {{ teacher.price }} / час</p>
                  <h2 class="h5">{{ teacher.name }}</h2>
                  <p>{{ teacher.about }}</p>
                  <a href="/profiles/{{ teacher.teacher_id }}/" class="btn btn-outline-primary btn-sm mb-2">Показать информацию и расписание</a>
                </div>
              </div>
            </div>
          </div>

        {% endfor %}
      </div>
    </div>
{%- endmacro %}


{% macro teacher_link(teacher, day, time) -%}
  {% if teacher.is_free_at_the_time(day, time) %}
    <a href="/booking/{{ teacher.teacher_id }}/{{ day }}/{{ time.split(':')[0] }}/" class="btn btn-sm btn-success" >
      {{ time.zfill(2) }}:00
    </a>
  {% else %}
   <a  class="btn btn-sm btn-secondary">
     {{ time.zfill(2) }}:00
   </a>
  {% endif %}
{%- endmacro %}


{% macro render_field(field) %}
  {{ field.label(class_="mb-1 mt-2") }}
  {{ field }}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
  </div>
  {% endfor %}
{% endmacro %}
